<div class="container-fluid">
    <div class="row">
        <h1>A propos du site</h1>
        <div class="col-sm-6 nopadding-lr dark-wrapper opaqued background-cover left-half" style="background-image: url('assets/img/bg/bg10.jpg');">
            <div class="dark-opaqued-half section-inner pad-sides-60 match-height" data-mh="promo-inner">
                <h3 class="mb50">Cote<span class="theme-accent-color">Client</span></h3>
                <p class="lead mb50">Conveniently leverage other's distinctive expertise and backend metrics. Progressively harness intuitive systems and ethical niches. Continually drive extensible benefits vis-a-vis leading-edge meta-services. Conveniently leverage existing
                    market-driven outsourcing vis-a-vis e-business process improvements. Intrinsicly extend quality interfaces with intermandated innovation.</p>
                <div class="spacer-180"></div>
                <p class="mt30"><a href="#contact" class="btn btn-primary btn-red page-scroll">Book Now</a></p>
            </div>
        </div>

        <div class="col-sm-6 nopadding-lr dark-wrapper opaqued background-cover right-half" style="background-image: url('assets/img/bg/bg5.jpg');">
            <div class="dark-opaqued-half section-inner pad-sides-60 match-height text-right" data-mh="promo-inner">
                <h3 class="mb50">Cote <span class="theme-accent-color">Conducteur</span></h3>
                <p class="lead mb50">Conveniently leverage other's distinctive expertise and backend metrics. Progressively harness intuitive systems and ethical niches. Continually drive extensible benefits vis-a-vis leading-edge meta-services. Conveniently leverage existing
                    market-driven outsourcing vis-a-vis e-business process improvements. Intrinsicly extend quality interfaces with intermandated innovation.</p>
                <div class="spacer-180"></div>
                <p class="mt30"><a href="#contact" class="btn btn-primary btn-white page-scroll">View Menu</a></p>
            </div>
        </div>
    </div>
</div>