<!--a routerLink="">Home</a>
<a routerLink="reservAuto">A propos</a-->

<div class="preloader">
    <div class="preloader-img">
        <span class="loading-animation animate-flicker"><img src="assets/img/loading.GIF" alt="loading" /></span>
    </div>
</div>


<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top fadeInDown" data-wow-delay="0.2s">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand smoothie" href="index.html">THE <span class="theme-accent-color">GRILL</span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#about" routerLink="" class="page-scroll">Acceuil</a>
                </li>
                <li>
                    <a href="#about" routerLink="about" class="page-scroll">A propos</a>
                </li>
                <li><a href="#about" class="page-scroll">Rerservation</a></li>
                <li>
                    <a href="#the-menu" class="page-scroll">Contact</a>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Connecter <span class="pe-7s-angle-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="404.html">creer compte</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#search"><i class="fa fa-search"></i></a></li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->

    </div>
    <!-- /.container-fluid -->
</nav>

<div id="search-wrapper">
    <button type="button" class="close">×</button>
    <form>
        <input type="search" value="" placeholder="Enter Search Term" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

<Header>
    <header id="headerwrap" class="backstretched fullheight">
        <div class="container-fluid fullheight">
            <div class="vertical-center row">
                <div class="col-sm-1 pull-left text-center slider-control match-height">
                    <a href="#" class="prev-bs-slide vertical-center wow fadeInLeft" data-wow-delay="0.8s"><i class="fa fa-long-arrow-left"></i></a>
                </div>
                <div class="intro-text text-center smoothie col-sm-10 match-height">
                    <div class="intro-heading wow fadeIn heading-font" data-wow-delay="0.8s"><img src="assets/img/intro-logo.png"></div>
                </div>
                <div class="col-sm-1 pull-right text-center slider-control match-height">
                    <a href="#" class="next-bs-slide vertical-center wow fadeInRight" data-wow-delay="0.8s"><i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </header>